# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java

Some of the commonly used libraries used by Data Scientists include:
1.Pandas
2.NumPy
3.SciPy

|---|
|Data Science Tools|
|---|
|R-Studio|
|---|
|Git|
|---|
|Jupyter Lab|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
200 / 60

3.3333333333333335

**Objectives**
* Arithmetic Operations
* Programming Languages used by Data Scientists
* Development Environments used by Data Scientists
* Frameworks commonly used in Data Science

##Author
Indhresh A